{
  "openapi": "3.0.1",
  "info": {
    "title": "Cylance Multi-Tenant API",
    "description": "This page contains documentation for accessing the Cylance Multi-Tenant Console through API calls.",
    "version": "2.0.0",
    "x-logo": "https://admin.cylance.com/developer/content/en/images/Cylance_Shield_RGBgrn.png"
  },
  "servers": [
    {
      "url": "https://api-admin.cylance.com/public"
    }
  ],
  "paths": {
    "/v2/{region}/users/{userId}": {
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Update user",
        "description": "Updates a user",
        "operationId": "users",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The GUID user id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "body",
          "description": "The JSON body - see UserUpdateModel definition",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Delete user",
        "description": "Deletes a user",
        "operationId": "users2",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The GUID user id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/health-check": {
      "get": {
        "tags": [
          "health-check"
        ],
        "summary": "Gets the current health check status",
        "description": "Use this endpoint to validate that the API is currently in a healthy state.",
        "operationId": "health-check",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/tenants/tenant-app/{venueTenantId}": {
      "put": {
        "tags": [
          "tenants"
        ],
        "summary": "V2 - Returns a JWT bearer token that will authorize requests for PROTECT Web API V2",
        "description": "V2 -Returns a JWT bearer token that can be used for authorization to manage a tenant via the PROTECT Web API V2 directly. In MTC Settings/Application the application being used must have Tenant API Management with the MANAGE privilege enabled",
        "operationId": "tenant-app",
        "parameters": [
          {
            "name": "venueTenantId",
            "in": "path",
            "required": true,
            "description": "The Guid tenant ID of the tenant in CylancePROTECT to manage",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VpiTokenDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/tenants/policy": {
      "post": {
        "tags": [
          "tenants"
        ],
        "summary": "Apply a policy template to tenants",
        "description": "Applies a policy template to a group of tenants. Max of 50 tenants can be in the request.",
        "operationId": "policy",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "body",
          "description": "The JSON body - AssignPolicyTemplateExternalRequestModel. This object will contain the policy template id and an array of venue tenant ids to apply the policy template to",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignPolicyTemplateExternalRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/auth": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Generate an API token",
        "description": "Uses Basic Authorization. Accepts a base64 encoded App ID and Secret, sent as `Basic {base64Hash}`",
        "operationId": "auth",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Application ID and Application Secret as a base64 Hash.  Sent as Basic Authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "body",
          "description": "",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ClientCredentialsTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/policy-templates/{policyTemplateId}": {
      "get": {
        "tags": [
          "policy-templates"
        ],
        "summary": "Get a policy template by ID",
        "description": "Returns an individual policy template based on the specified ID.",
        "operationId": "policy-templates",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyTemplateId",
            "in": "path",
            "required": true,
            "description": "Guid ID of the policy template to retrieve",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyTemplateExternalDetailsModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "policy-templates"
        ],
        "summary": "Update an individual policy template based on the specified ID",
        "description": "'Overwrite the specified policy template with new values, as provided in the request body. Note that all policy template properties must exist on the provided value, or the request will fail.\nFor detailed information on `ModelDetails` please reference the **Cylance User API Guide v2.0** [here](https://support.cylance.com/s/article/CylancePROTECT-User-API-Guide).\nThe schema for the `ModelDetails` field is listed in the description.'\n",
        "operationId": "policy-templates2",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyTemplateId",
            "in": "path",
            "required": true,
            "description": "Guid ID of the policy template to update",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "body",
          "description": "A valid policy template document in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyTemplateUpdateModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "policy-templates"
        ],
        "summary": "Permanently delete a policy template",
        "description": "Delete a policy template. Note that this action is **permanent and cannot be undone.**",
        "operationId": "policy-templates3",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyTemplateId",
            "in": "path",
            "required": true,
            "description": "Guid ID of the policy template to delete",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/reports/report-runs": {
      "get": {
        "tags": [
          "reports"
        ],
        "summary": "List report runs",
        "description": "Get a list of report runs, based on the specified criteria that have run in the last 30 days",
        "operationId": "report-runs",
        "parameters": [
          {
            "name": "sortDirection",
            "in": "query",
            "description": "The accepted sort directions are 'asc' or 'desc'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "This will be the current page number (starting with 0)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterOperator",
            "in": "query",
            "description": "The accepted filter operators for string type filter columns are 'contains', 'doesNotContain', 'endsWith', 'isEqual', 'startsWith'.  The accepted filter operations for numeric or date type filter columns are 'isEqual', 'isNotEqual', 'greaterThan', 'greaterThanOrEqual', 'lessThan', 'lessThanOrEqual'. The accepted filter operations for guid type columns (userId, tenantId, etc) are 'isEqual', 'isNotEqual'\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterColumn",
            "in": "query",
            "description": "The name of the column to filter by (see columns in the ReportRunExternalDetailsListModel definition)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterQuery",
            "in": "query",
            "description": "The value of the filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "The name of the column to sort by (see columns in the ReportRunExternalDetailsListModel definition)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportRunExternalDetailsListModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/tenants/{tenantId}": {
      "get": {
        "tags": [
          "tenants"
        ],
        "summary": "Get a tenant by ID",
        "description": "Returns data for a tenant based on ID. The Status field in the response can contain the following values \"Active\", \"Pending\", \"ProvisionError\", \"PendingShutdown\", \"Shutdown\". When status is 'ProvisionError', the 'errorCode' will either be 5xx or 4xx based on reason for tenant provisioning failure and 'errorMsg' will include additional details for the failure. If provisioning error was due to a 5xx error code, then you can use 'provision/retry' API to retry the tenant provisioning. If provisioning error was due to a 4xx error code, then you can use 'provision/retry-full' API to retry the tenant provisioning after correcting the field value(s) as indicated by error message",
        "operationId": "tenants",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "description": "Guid ID of the tenant to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantDetailWithLicenseAndUsageCount"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tenants"
        ],
        "summary": "Update a tenant by ID",
        "description": "Updates a tenant with the specified details, based on the tenant's ID.",
        "operationId": "tenants2",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "description": "Guid ID of the tenant to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "body",
          "description": "ExternalEditTenantModel Enum Values  `licenseType`: \"Evaluation\", \"Customer\"       `enabledFeatures.id`: Available feature ids are listed below. Int value must be passed in \n  \"Linux\" = 12,\n  \"Device Control\" = 26,\n  \"Auto-Delete for Quarantined Files\" = 32,\n  \"Data Privacy\" = 33,\n  \"Optics V2\" = 34,\n  \"API V2\" = 39,\n  \"Read Only User Role\" = 40,\n  \"Script Control Global Safelist by Hash\" = 42,\n  \"Ubuntu\" = 48 (Can only be enabled when \"Linux\" is enabled),\n  \"Notification for Quarantine Events\" = 49,\n  \"Optics ML\" = 51 (Can only be enabled when \"Optics V2\" is enabled),\n  \"Optics Refract Package\" = 53 (Can only be enabled when \"Optics V2\" is enabled),\n  \"Optics Refract Playbook\" = 56 (Can only be enabled when \"Optics V2\" is enabled),\n  \"Amazon Linux\" = 57 (Can only be enabled when \"Linux\" is enabled),\n  \"Gateway\" = 9997,\n  \"Avert\" = 9998.\n The persona license entitlement and usage fields are deprecated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalEditTenantModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/reports/list": {
      "get": {
        "tags": [
          "reports"
        ],
        "summary": "Get a list of reports",
        "description": "Returns a list of all reports, based on the specified criteria.",
        "operationId": "list",
        "parameters": [
          {
            "name": "sortDirection",
            "in": "query",
            "description": "The accepted sort directions are 'asc' or 'desc'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "This will be the page number requested (starting with 0)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterOperator",
            "in": "query",
            "description": "The accepted filter operators for string type filter columns are 'contains', 'doesNotContain', 'endsWith', 'isEqual', 'startsWith'.  The accepted filter operations for numeric or date type filter columns are 'isEqual', 'isNotEqual', 'greaterThan', 'greaterThanOrEqual', 'lessThan', 'lessThanOrEqual'. The accepted filter operations for guid type columns (userId, tenantId, etc) are 'isEqual', 'isNotEqual'\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterColumn",
            "in": "query",
            "description": "The name of the column to filter by (see columns in the ReportsListModels definition)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterQuery",
            "in": "query",
            "description": "The value of the filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "The name of the column to sort by (see columns in the ReportsListModels definition)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportsListModels"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/reports/{reportId}/run": {
      "post": {
        "tags": [
          "reports"
        ],
        "summary": "Enqueue a report to be processed",
        "description": "This will send enqueue a report to be generated on demand",
        "operationId": "run",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "description": "Guid ID of the report to be run",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Two character region code specification for MTC for United States (us), Asia Pacific SE/Austrailia (au), European Union (eu), Asia Pacific NE/Japan (jp), South America/Sao Paulo (sp), and Gov Cloud (gc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "`access_token` retrieved using the /auth endpoint.  Sent as a bearer token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request Timeout\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Gone\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Unsupportable Media Type\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "418": {
            "description": "418 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Locked\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "426": {
            "description": "Upgrade Required\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large\nError will be included in response message.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{region}/policy-templates": {
      "post": {
        "tags": [
          "policy-templates"
        ],
        "summary": "Create a new policy template",
[...]
